################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/admin felület/FileContentIndex/0220dc88-de16-45d9-9971-27ed5a749f21.vsidx
*.vsidx
